@page
@model TopAutoSpot.Views.AdministratorViews.Utilities.ApproveVehicleModel

<h1 class="website-text-darker-nohover fw-bold">Vehicle Approved!</h1>
<hr />

<p class="fs-3 website-text-nohover">Vehicle with Id: @Model.VehicleId was <span class="fw-bold text-success">Approved succesfully</span>!</p>