@page
@model TopAutoSpot.Views.Notifications.NotificationRemovedModel

<h1 class="website-text-darker-nohover fw-bold mt-2">Notification Removed Successfully!</h1>
<hr />
<br />

<img class="img-fluid rounded-3 pb-4" src="~/gifs/deleted.gif" alt="Deleted Gif" />
<br />
<br />
<a class="btn website-background-outline-main fw-bold rounded" asp-page="/Notifications/Index">Go Back</a>