@page
@model TopAutoSpot.Views.Trade.IndexModel
@{
    ViewData["Title"] = "Trade Page";
}

<div>
    <h1>Trade-Only Listings</h1>

    <p><i>Here every listing will be trade-only!</i></p>
    <p>
        <i>
            This means that you cannot buy the listed vehicle,
            because the seller only accepts other vehicles in return.
        </i>
    </p>
</div>