@page
@model TopAutoSpot.Views.Trade.IndexModel
@{
    ViewData["Title"] = "Trade Page";
}

<div>
    <h1 class="fw-bold site-text-color">Trade-Only Listings</h1>

    <p class="fw-bold site-text-darker-color">
        <i>
            Here every listing will be trade-only!
        </i>
    </p>
    <p class="fw-bold site-text-darker-color">
        <i>
            This means that you cannot buy the listed vehicle,
            because the seller only accepts other vehicles in return.
        </i>
    </p>
</div>