@page
@model TopAutoSpot.Views.AdministratorViews.UsersCRUD.CloseModel

<h1 class="website-text-darker-nohover fw-bold">Account Closed!</h1>
<hr />

<p class="fs-3 website-text-nohover">User Account with Id: @Model.UserToClose.Id and Username: @Model.UserToClose.UserName was <span class="fw-bold text-danger">Closed</span>!</p>