@page
@using TopAutoSpot.Data.Entities.Utilities;
@model TopAutoSpot.Views.MyVehicles.CarCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="fw-bold website-text-darker-nohover">New Car Description</h1>
<hr />
<br />

<div class="col-md-4 mx-auto">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Car.CreatedBy" type="hidden" value="BackEndHandled" />
        <input asp-for="Car.Id" type="hidden" value=@Guid.NewGuid().ToString() />
        <input type="date" asp-for="Car.CreatedAt" value=@DateTime.Now type="hidden" />
        <input asp-for="Car.Status" type="hidden" value=@StatusTypes.WaitingApproval.ToString() />
        
        <div class="m-2 px-4">
            <div class="form-group mb-4">
                <label asp-for="VehicleImage.ImageData" class="control-label fw-bold website-text-nohover mb-2">Select Images</label>
                <p class="fs-6 text-danger"><i>(Required)</i></p>
                <input asp-for="VehicleImage.ImageData" name="Images" type="file" multiple>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Car.Title" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Car.Title" class="form-control" />
                <span asp-validation-for="Car.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Description" class="control-label fw-bold website-text-nohover"></label>
                <p class="text-dark fw-bold"><i>[Optional]</i></p>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Location" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Car.Location" class="form-control" />
                <span asp-validation-for="Car.Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Price" class="control-label fw-bold website-text-nohover"></label>
                <p class="text-dark fw-bold"><i>[If you set the price to 0, it will be displayed in the trade-only page!]</i></p>
                <input min="0" max="10000000" asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Make" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Car.Make" class="form-control" />
                <span asp-validation-for="Car.Make" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Model" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.ManufactureDate" class="control-label fw-bold website-text-nohover">Manufacture Date</label>
                <p class="text-dark fw-bold"><i>[If you dont remember the exact day/month, just type 01, 01]</i></p>
                <input min="1880-00-00" max="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" type="date" asp-for="Car.ManufactureDate" class="form-control" />
                <span asp-validation-for="Car.ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.HorsePower" class="control-label fw-bold website-text-nohover">Horse Power</label>
                <input min="0" max="2000" asp-for="Car.HorsePower" class="form-control" />
                <span asp-validation-for="Car.HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Mileage" class="control-label fw-bold website-text-nohover"></label>
                <input min="0" max="5000000" asp-for="Car.Mileage" class="form-control" />
                <span asp-validation-for="Car.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.Transmission" class="control-label fw-bold website-text-nohover"></label>
                <select asp-for="Car.Transmission" class="form-select">
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
                <span asp-validation-for="Car.Transmission" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.EngineType" class="control-label fw-bold website-text-nohover">Engine Type</label>
                <select asp-for="Car.EngineType" class="form-select">
                    <option value="Diesel">Diesel</option>
                    <option value="Gasoline">Gasoline</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
                <span asp-validation-for="Car.EngineType" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Car.EuroStandart" class="control-label fw-bold website-text-nohover">Euro Standart</label>
                <select asp-for="Car.EuroStandart" class="form-select">
                    <option value="Euro1">Euro1</option>
                    <option value="Euro2">Euro2</option>
                    <option value="Euro3">Euro3</option>
                    <option value="Euro4">Euro4</option>
                    <option value="Euro5">Euro5</option>
                    <option value="Euro6">Euro6</option>
                    <option value="Euro7">Euro7</option>
                </select>
                <span asp-validation-for="Car.EuroStandart" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-3 mb-2">
            <input type="submit" value="Create" class="btn website-background-lighter fw-bold" />
        </div>
    </form>
</div>

<div>
    <a class="fw-bold btn btn-outline-secondary mt-3 mb-3" asp-page="/MyVehicles/Index">Go Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
