<!DOCTYPE html>
<html lang="en">
<head>
    @*Metadata*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*Website Title*@
    <title>@ViewData["Title"] - TopAutoSpot</title>

    @*Bootstrap and CSS linking*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopAutoSpot.styles.css" asp-append-version="true" />

    @*Font*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    @*Website Favicon*@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link website-background-main text-light fw-bold custom-rounded px-3 mx-1" asp-page="/Index">Home</a>
                        </li>
                        <div class="dropdown">
                            <button class="btn text-light website-background-main dropdown-toggle fw-bold custom-rounded px-3 mx-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Buy</button>
                            <ul class="dropdown-menu website-background-main-nohover" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/CarListings">Cars</a></li>
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/MotorcycleListings">Motorcycles</a></li>
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/BoatListings">Boats</a></li>
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/BusListings">Buses</a></li>
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/TruckListings">Trucks</a></li>
                                <li><a class="dropdown-item fw-bold website-navbar-dropdown-option" href="/Buy/TrailerListings">Trailers</a></li>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-light website-background-main fw-bold custom-rounded px-3 mx-1" asp-page="/Trade/Index">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light website-background-main fw-bold custom-rounded px-3 mx-1" asp-page="/Auction/Index">Auction</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light website-background-main fw-bold custom-rounded px-3 mx-1" asp-page="/MyVehicles/Index">My Vehicles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light website-background-main fw-bold custom-rounded px-3 mx-1" asp-page="/InterestedIn/Index">Interested In</a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="dropdown">
                                <button class="btn text-light website-background-main dropdown-toggle fw-bold custom-rounded px-3 mx-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">A-Panel</button>
                                <ul class="dropdown-menu website-background-main-nohover" aria-labelledby="dropdownMenuButton1">
                                    <li class="nav-item">
                                        <a class="dropdown-item fw-bold website-navbar-dropdown-option" asp-page="/AdministratorViews/Approval">Approval</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item fw-bold website-navbar-dropdown-option" asp-page="/AdministratorViews/ManageUsers">Manage Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item fw-bold website-navbar-dropdown-option" asp-page="/AdministratorViews/ManageListings">Manage Listings</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="mx-auto text-center pb-5 pt-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pt-2 pb-2 text-light bg-dark">
        <div class="row mt-4 md-4 g-0">
            <div class="col-md-1 mx-auto fw-bold">
                <div>
                    <ul class="list-type">
                        <li class="pt-3 pb-3">
                            <a class="text-decoration-none footer-text" asp-page="/Contacts/Index">Contacts</a>
                        </li>
                        <li class="pt-3 pb-3">
                            <a class="text-decoration-none footer-text" asp-page="/PrivacyPolicy/Index">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-1 mx-auto">
                <div>
                    <a href="https://www.facebook.com"><img class="w-25 h-25 m-2" src="~/images/socialmedialogos/facebooklogo.png" /></a>
                    <a href="https://www.instagram.com"><img class="w-25 h-25 m-2" src="~/images/socialmedialogos/instagramlogo.png" /></a>
                </div>
            </div>

            <div class="col-md-1 mx-auto fw-bold">
                <div>
                    <ul class="list-type d-inline">
                        <li class="pt-2 pb-2">
                            <p class="text-decoration-none footer-text" href="">2022 &copy; TopAutoSpot</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
