html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

main {
    height: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Play', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

hr {
    border-top: 2px solid;
}

.user-preview-border {
    border: solid 3px;
    border-color: #4710B6;
    background-color: #6320EE;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 600px !important;
    height: 120px !important;
    font-weight: bold;
    margin: 4px;
    color: #efeaf2;
}

.error-page {
    padding-bottom: 300px !important;
    padding-top: 300px !important;
}

.unknown-error-page {
    padding-bottom: 150px !important;
    padding-top: 150px !important;
}

.main-page-image {
    width: 192px;
    height: 192px;
}

.buy-page-image {
    width: 256px;
    height: 256px;
}

.website-text-nohover {
    color: #6320EE;
}

.website-text-darker-nohover {
    color: #4710B6;
}

.website-text-main {
    color: #6320EE !important;
}

    .website-text-main:hover {
        color: #8075FF !important;
    }

.website-background-main {
    background-color: #6320EE;
}

    .website-background-main:hover {
        background-color: #8075FF;
    }

.website-background-lighter {
    background-color: #6320EE;
    color: white;
}

.website-background-lighter:hover {
    background-color: #8075FF;
    color: white;
}

.website-text-darker {
    color: #37069A !important;
}

.website-text-darker:hover {
    color: #8075FF !important;
}

.listing-image {
    width: 256px;
    height: 256px;
    object-fit: cover;
}

.preview-vehicle-image {
    width: 768px;
    height: 512px;
    object-fit: fill;
}

.preview-vehicle-list-images {
    min-width: 600px;
    max-width: 1200px;
}

.single-car {
    max-width: 256px;
    height: 512px;
}

.listing-title {
    height: 64px;
}

.footer-text {
    color: #948AFF !important;
}

    .footer-text:hover {
        color: white !important;
    }

    .footer-text:hover {
        cursor: pointer;
    }

ul {
    list-style-type: none;
}

.nav-link {
    color: #6320EE;
}


.nav-item > a:hover {
    color: #8075FF;
}

.nav-item > a.nav-link.active {
    background-color: #37069A;
}

.contacts-text-light {
    color: #948AFF;
}

.contacts-text-lightest {
    color: #8075FF !important;
}

.single-user {
    max-width: 256px;
    height: 512px;
}

.single-user-data {
    height: 64px;
}

.website-background-outline-main {
    background-color: #efeaf2;
    color: #6320EE !important;
}

.website-background-outline-main:hover {
    background-color: #6320EE;
    color: white !important;
}
