html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*Hardcoded - Fix Later*/
main{
    height: 800px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Play', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-nav-button {
    background-color: #3fc473;
}

.font-nav-color {
    color: #3fc473;
}

.footer-text {
    color: #3fc473 !important;
}

.footer-text:hover {
    color: white !important;
}

.footer-text:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.nav-link {
    color: #3fc473;
}


.nav-item > a:hover {
    color: #3fc473;
}

.nav-item > a.nav-link.active {
    background-color: #3fc473;
}