@page
@model TopAutoSpot.Views.UnknownErrorModel
@{
    ViewData["Title"] = "Unknown Error";
}

<div class="unknown-error-page">
    <h1 class="fw-bold text-danger">Unknown Error occured!</h1>

    <br />

    <img class="custom-rounded" src="~/gifs/unknownError.gif" />
</div>