@page
@model TopAutoSpot.Views.UnknownErrorModel

<div class="unknown-error-page">
    <h1 class="fw-bold text-danger">Unknown Error occured!</h1>

    <br />

    <img class="rounded" src="~/gifs/unknownError.gif" />
</div>