@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pt-3 pb-4">Welcome to TopAutoSpot</h1>

    <img class="img-fluid rounded-3 pb-4" src="~/gifs/WelcomeGif.gif" alt="Welcome Gif" />
</div>
