@page
@model TopAutoSpot.Views.AuctionViews.NoVehiclesToAuctionModel
@{
    ViewData["Title"] = "No Vehicles To Auction!";
}

<div class="mb-5 mt-5">
    <h1 class="text-capitalize fw-bold text-danger">@ViewData["Title"]</h1>
    <hr />
    <br />

    <img class="custom-rounded mb-4 account-management-image" src="~/gifs/noVehiclesToAuction.gif" alt="Welcome Gif" />
</div>