@page
@inject UserManager<User> UserManager
@model TopAutoSpot.Views.MyListings.IndexModel
@{
    ViewData["Title"] = "My Listings";
    var foundUser = UserManager.Users.First(u => u.UserName == User.Identity.Name);

    if (foundUser.Listings == null)
    {
        foundUser.Listings = new List<Listing>();
    }
}

<div>
    <div>
        <h1>My Listings</h1>

        <p><i>Here you will see your own listings.</i></p>

        @if (User.Identity.IsAuthenticated &&
        UserManager.Users.First(u => u.UserName == User.Identity.Name).Listings.Count == 0)
        {
            @*TODO => Add routing*@
            <p class="text-warning"><i>No listings? <a class="btn btn-outline-warning fw-bold" asp-page="">Make one!</a></i></p>
        }
        else
        {
            @*TODO => Add routing*@
            <a class="text-light btn-warning btn fw-bold mb-5" asp-page="">Add another Listing!</a>

            <div class="listings">
                @foreach (var listing in foundUser.Listings)
                {
                    <div class="single-listing">
                        <h1>@listing.Title</h1>
                        <h2>@listing.Price</h2>
                        <h2>@listing.Category</h2>
                        <h2>@listing.CreatedBy</h2>
                    </div>
                }
            </div>
        }
    </div>
</div>