@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data Settings";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 class="fw-bold pb-4 text-danger">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-warning" role="alert">
            <p class="fw-bold text-danger">Deleting this data will permanently remove and close your account, and this cannot be recovered.</p>
        </div>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="text-light fw-bold w-100 btn btn-lg btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
