@page
@model TopAutoSpot.Views.BoatModelCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Boat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Boat.Id" />
            <div class="form-group">
                <label asp-for="Boat.CreatedBy" class="control-label"></label>
                <input asp-for="Boat.CreatedBy" class="form-control" />
                <span asp-validation-for="Boat.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.CreatedAt" class="control-label"></label>
                <input asp-for="Boat.CreatedAt" class="form-control" />
                <span asp-validation-for="Boat.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Title" class="control-label"></label>
                <input asp-for="Boat.Title" class="form-control" />
                <span asp-validation-for="Boat.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Description" class="control-label"></label>
                <input asp-for="Boat.Description" class="form-control" />
                <span asp-validation-for="Boat.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Price" class="control-label"></label>
                <input asp-for="Boat.Price" class="form-control" />
                <span asp-validation-for="Boat.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Make" class="control-label"></label>
                <input asp-for="Boat.Make" class="form-control" />
                <span asp-validation-for="Boat.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Model" class="control-label"></label>
                <input asp-for="Boat.Model" class="form-control" />
                <span asp-validation-for="Boat.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.ManufactoreDate" class="control-label"></label>
                <input asp-for="Boat.ManufactoreDate" class="form-control" />
                <span asp-validation-for="Boat.ManufactoreDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.HorsePower" class="control-label"></label>
                <input asp-for="Boat.HorsePower" class="form-control" />
                <span asp-validation-for="Boat.HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.EngineType" class="control-label"></label>
                <input asp-for="Boat.EngineType" class="form-control" />
                <span asp-validation-for="Boat.EngineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.EngineCount" class="control-label"></label>
                <input asp-for="Boat.EngineCount" class="form-control" />
                <span asp-validation-for="Boat.EngineCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Width" class="control-label"></label>
                <input asp-for="Boat.Width" class="form-control" />
                <span asp-validation-for="Boat.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Height" class="control-label"></label>
                <input asp-for="Boat.Height" class="form-control" />
                <span asp-validation-for="Boat.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Material" class="control-label"></label>
                <input asp-for="Boat.Material" class="form-control" />
                <span asp-validation-for="Boat.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
