@page
@using TopAutoSpot.Data.Entities.Utilities;
@model TopAutoSpot.Views.MyVehicles.TrailerCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="fw-bold text-dark">New Trailer Description</h1>
<hr />
<br />

<div class="col-md-4 mx-auto">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Trailer.CreatedBy" type="hidden" value="BackEndHandled" />
        <input asp-for="Trailer.Id" type="hidden" value=@Guid.NewGuid().ToString() />
        <input type="date" asp-for="Trailer.CreatedAt" value=@DateTime.Now type="hidden" />
        <input asp-for="Trailer.Status" type="hidden" value=@StatusTypes.WaitingApproval.ToString() />

        <div class="m-2 px-4">
            <div class="form-group mb-4">
                <label asp-for="VehicleImage.ImageData" class="control-label fw-bold website-text-nohover mb-2">Select Images</label>
                <input asp-for="VehicleImage.ImageData" name="Images" type="file" multiple>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Trailer.Title" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Trailer.Title" class="form-control" />
                <span asp-validation-for="Trailer.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.Description" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Trailer.Description" class="form-control" />
                <span asp-validation-for="Trailer.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.Location" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Trailer.Location" class="form-control" />
                <span asp-validation-for="Trailer.Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.Price" class="control-label fw-bold website-text-nohover"></label>
                <input min="0" asp-for="Trailer.Price" class="form-control" />
                <span asp-validation-for="Trailer.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.ManufactureDate" class="control-label fw-bold website-text-nohover">Manufacture Date</label>
                <input min="1880-00-00" max="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" type="date" asp-for="Trailer.ManufactureDate" class="form-control" />
                <span asp-validation-for="Trailer.ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.Payload" class="control-label fw-bold website-text-nohover"></label>
                <input min="0" max="15000" asp-for="Trailer.Payload" class="form-control" />
                <span asp-validation-for="Trailer.Payload" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Trailer.AxleCount" class="control-label fw-bold website-text-nohover">Axle Count</label>
                <select asp-for="Trailer.AxleCount" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <span asp-validation-for="Trailer.AxleCount" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-3 mb-2">
            <input type="submit" value="Create" class="btn website-background-main text-light fw-bold" />
        </div>
    </form>
</div>

<div>
    <a class="fw-bold btn btn-outline-secondary mt-3 mb-3" asp-page="/MyVehicles/Index">Go Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
