@page
@model TopAutoSpot.Views.MotorcycleModelCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Motorcycle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motorcycle.Id" class="control-label"></label>
                <input asp-for="Motorcycle.Id" class="form-control" />
                <span asp-validation-for="Motorcycle.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.CreatedBy" class="control-label"></label>
                <input asp-for="Motorcycle.CreatedBy" class="form-control" />
                <span asp-validation-for="Motorcycle.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.CreatedAt" class="control-label"></label>
                <input asp-for="Motorcycle.CreatedAt" class="form-control" />
                <span asp-validation-for="Motorcycle.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Title" class="control-label"></label>
                <input asp-for="Motorcycle.Title" class="form-control" />
                <span asp-validation-for="Motorcycle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Description" class="control-label"></label>
                <input asp-for="Motorcycle.Description" class="form-control" />
                <span asp-validation-for="Motorcycle.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Price" class="control-label"></label>
                <input asp-for="Motorcycle.Price" class="form-control" />
                <span asp-validation-for="Motorcycle.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Make" class="control-label"></label>
                <input asp-for="Motorcycle.Make" class="form-control" />
                <span asp-validation-for="Motorcycle.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Model" class="control-label"></label>
                <input asp-for="Motorcycle.Model" class="form-control" />
                <span asp-validation-for="Motorcycle.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.ManufactoreDate" class="control-label"></label>
                <input asp-for="Motorcycle.ManufactoreDate" class="form-control" />
                <span asp-validation-for="Motorcycle.ManufactoreDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.HorsePower" class="control-label"></label>
                <input asp-for="Motorcycle.HorsePower" class="form-control" />
                <span asp-validation-for="Motorcycle.HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Mileage" class="control-label"></label>
                <input asp-for="Motorcycle.Mileage" class="form-control" />
                <span asp-validation-for="Motorcycle.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.Transmission" class="control-label"></label>
                <input asp-for="Motorcycle.Transmission" class="form-control" />
                <span asp-validation-for="Motorcycle.Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.EngineType" class="control-label"></label>
                <input asp-for="Motorcycle.EngineType" class="form-control" />
                <span asp-validation-for="Motorcycle.EngineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.CubicCapacity" class="control-label"></label>
                <input asp-for="Motorcycle.CubicCapacity" class="form-control" />
                <span asp-validation-for="Motorcycle.CubicCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.EngineStrokes" class="control-label"></label>
                <input asp-for="Motorcycle.EngineStrokes" class="form-control" />
                <span asp-validation-for="Motorcycle.EngineStrokes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motorcycle.CoolingType" class="control-label"></label>
                <input asp-for="Motorcycle.CoolingType" class="form-control" />
                <span asp-validation-for="Motorcycle.CoolingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
