@page
@using TopAutoSpot.Models.Utilities;
@model TopAutoSpot.Views.MyVehicles.BoatCRUD.EditModel

@{
    ViewData["Title"] = "Edit Boat";
}

<h1 class="fw-bold website-text-darker-nohover">Edit Boat</h1>
<hr />
<br />

<div class="col-md-4 mx-auto">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Boat.Id" />
        <input type="hidden" asp-for="Boat.CreatedBy" />
        <input type="hidden" asp-for="Boat.CreatedAt" />
        <input asp-for="Boat.Status" type="hidden" value=@StatusTypes.WaitingApproval.ToString() />

        <div class="m-2 px-4">
            <div class="form-group mb-4">
                <label asp-for="VehicleImage.ImageData" class="control-label fw-bold website-text-nohover mb-2">Select Images</label>
                <p class="fs-6 text-danger"><i>(Required)</i></p>
                <input asp-for="VehicleImage.ImageData" name="Images" type="file" multiple>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Boat.Title" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Boat.Title" class="form-control" />
                <span asp-validation-for="Boat.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Description" class="control-label fw-bold website-text-nohover"></label>
                <p class="text-dark fw-bold"><i>[Optional]</i></p>
                <input asp-for="Boat.Description" class="form-control" />
                <span asp-validation-for="Boat.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Location" class="control-label fw-bold website-text-nohover">Location</label>
                <input asp-for="Boat.Location" class="form-control" />
                <span asp-validation-for="Boat.Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Price" class="control-label fw-bold website-text-nohover"></label>
                <p class="text-dark fw-bold"><i>[If you set the price to 0, it will be displayed in the trade-only page!]</i></p>
                <input min="0" max="10000000" asp-for="Boat.Price" class="form-control" />
                <span asp-validation-for="Boat.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Make" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Boat.Make" class="form-control" />
                <span asp-validation-for="Boat.Make" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Model" class="control-label fw-bold website-text-nohover"></label>
                <input asp-for="Boat.Model" class="form-control" />
                <span asp-validation-for="Boat.Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.ManufactureDate" class="control-label fw-bold website-text-nohover">Manufacture Date</label>
                <p class="text-dark fw-bold"><i>[If you dont remember the exact day/month, just type 01, 01]</i></p>
                <input min="1880-00-00" max="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" type="date" asp-for="Boat.ManufactureDate" class="form-control" />
                <span asp-validation-for="Boat.ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.HorsePower" class="control-label fw-bold website-text-nohover">Horse Power</label>
                <input min="0" max="2000" asp-for="Boat.HorsePower" class="form-control" />
                <span asp-validation-for="Boat.HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.EngineType" class="control-label fw-bold website-text-nohover">Engine Type</label>
                <select asp-for="Boat.EngineType" class="form-select">
                    <option value="Diesel">Diesel</option>
                    <option value="Gasoline">Gasoline</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                    <option value="Plug-in Hybrid">Plug-in Hybrid</option>
                </select>
                <span asp-validation-for="Boat.EngineType" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.EngineCount" class="control-label fw-bold website-text-nohover">Engine Count</label>
                <select asp-for="Boat.EngineCount" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span asp-validation-for="Boat.EngineCount" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Width" class="control-label fw-bold website-text-nohover">Width <i class="text-dark">[meters]</i></label>
                <input min="1" max="450" asp-for="Boat.Width" class="form-control" />
                <span asp-validation-for="Boat.Width" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Length" class="control-label fw-bold website-text-nohover">Length <i class="text-dark">[meters]</i></label>
                <input min="1" max="80" asp-for="Boat.Length" class="form-control" />
                <span asp-validation-for="Boat.Length" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Boat.Material" class="control-label fw-bold website-text-nohover">Material</i></label>
                <select asp-for="Boat.Material" class="form-select">
                    <option value="Steel">Steel</option>
                    <option value="Aluminium">Aluminium</option>
                    <option value="Plastic">Plastic</option>
                    <option value="Polyethylene">Polyethylene</option>
                    <option value="Wood">Wood</option>
                    <option value="Hypalon">Hypalon</option>
                    <option value="Concrete">Concrete</option>
                </select>
                <span asp-validation-for="Boat.Material" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-2">
                <input type="submit" value="Save" class="btn website-background-lighter text-light fw-bold mb-3" />
            </div>
        </div>
    </form>
</div>

<div class="mt-3 mb-3">
    <a class="fw-bold btn btn-outline-secondary" asp-page="/MyVehicles/Index">Go Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
