@page
@model TopAutoSpot.Views.Auction.IndexModel
@{
    ViewData["Title"] = "Auction Page";
}

<div>
    <h1>All Available Auctions</h1>

    <p>
        <i>
            Here you will see all available auctions on the website.
        </i>
    </p>
</div>