@page
@model TopAutoSpot.Views.Auction.IndexModel
@{
    ViewData["Title"] = "Auction Page";
}

<div class="pt-3 pb-3">
    <h1 class="site-text-color fw-bold">All Available Auctions</h1>

    <p class="fw-bold site-text-darker-color">
        <i>
            Here you will see all available auctions on the website.
        </i>
    </p>
</div>