@page
@model TopAutoSpot.Views.Auction.IndexModel
@{
    ViewData["Title"] = "Auction Page";
}

<div class="pt-3 pb-3">
    <h1 class="website-text-darker-nohover fw-bold">All Available Auctions</h1>
    <p class="fw-bold website-text-nohover"><i>Here you will see all available auctions on the website.</i></p>
</div>