@page
@model TopAutoSpot.Areas.Identity.Pages.Account.Manage.CheckYourEmailModel
@{
    ViewData["Title"] = "Check your email!";
}

<div class="col-md-6 mx-auto">
    <div class="text-center">
        <h1 class="text-capitalize fw-bold website-text-darker-nohover">@ViewData["Title"]</h1>
    </div>
</div>