@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Email Changed Successfully";
}

<h1 class="text-capitalize website-text-darker-nohover fw-bold">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
