@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="col-md-6 mx-auto">
    <div class="text-center">
        <h1 class="text-capitalize fw-bold website-text-darker-nohover">@ViewData["Title"]</h1>
        <h4 class="fw-bold website-text-nohover">Please check your email to reset your password.</h4>
    </div>
</div>

