@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4 mx-auto">
            <section>
                <form id="account" method="post">
                    <div class="text-center text-capitalize">
                        <h1>Log In</h1>
                    </div>

                    <br />

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="IvanMarinov123" />
                        <label asp-for="Input.UserName" class="form-label">UserName</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success">Log in</button>
                    </div>

                    <br />

                    <div>
                        <p>
                            <a id="forgot-password" class="text-decoration-none btn text-light btn-dark rounded" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" class="text-decoration-none btn text-light btn-dark rounded" asp-route-returnUrl="@Model.ReturnUrl">Dont have an account?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 mx-auto my-auto">
            <div class="text-center text-capitalize pt-2">
                <h1>You are already logged in!</h1>

                <br />

                <img class="img-fluid rounded-3 pb-4" src="~/gifs/alreadyLoggedIn.gif" alt="Already Logged In Gif" />

                <br />

                <a asp-page="Index" class="text-decoration-none btn fw-bold text-light btn-dark rounded">Go Back</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
