@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="d-flex justify-content-center flex-column">
    <h1 class="website-text-darker-nohover fw-bold">@ViewData["Title"]</h1>
    <hr />

    <div class="mt-5 mb-3">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-danger fw-bold text-light custom-rounded">Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</header>
