@page
@model TopAutoSpot.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="website-text-darker-nohover fw-bold fs-2 mb-2 mt-2">@ViewData["Title"]</h1>

<div class="mb-3 mt-3">
    <p class="fw-bold website-text-nohover fs-4">Please check your email to confirm your account.</p>
</div>