@page
@model TopAutoSpot.Views.AdministratorViews.AuctionsCD.CloseModel
@{
    ViewData["Title"] = "Auction Closed";
}

<h1 class="website-text-darker-nohover fw-bold">Auction Status Changed!</h1>
<hr />

<p class="fs-3 website-text-nohover">Auction Status was changed to <i class="fw-bold text-secondary">Closed</i>!</p>

<a class="btn website-background-outline-main fw-bold custom-rounded" asp-page="/AdministratorViews/ManageAuctions">Go Back</a>