@page
@model TopAutoSpot.Views.Buy.BoatListingsModel
@{
    ViewData["Title"] = "Boat Listings";
}

<div class="mb-3 mt-3">
    <h1 class="fw-bold site-text-color">All Boat Listings</h1>
    <hr />
    <br />
    <div class="d-flex flex-row mt-3">
        @foreach (var boat in Model.Boats)
        {
            <div class="d-flex flex-column mx-3 single-car">
                <a asp-page="/VehiclePreview/BoatPreview" asp-route-id="@boat.Id" class="text-decoration-none site-text-color-btn fw-bold car-title mb-4">
                    <img class="listing-image" src="~/images/noImageFound.png" />
                    @if (boat.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold listing-title">@string.Join("", boat.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold listing-title">@boat.Title</p>
                    }
                    <p class="fs-6 text-dark mb-0"><i>@boat.Location</i></p>
                    <p class="fs-5 text-dark fw-bold">$@boat.Price</p>
                </a>
            </div>
        }
    </div>
</div>
