@page
@model TopAutoSpot.Views.Buy.IndexModel
@{
    ViewData["Title"] = "Buy Page";
}

<div>
    <h1>All Available Listings</h1>
    <p>
        <i>
            Here you will see all available listings in the website.
        </i>
    </p>
</div>