@page
@model TopAutoSpot.Views.Buy.IndexModel
@{
    ViewData["Title"] = "Buy Vehicles";
}

<h1 class="text-capitalize fw-bold website-text-darker-nohover mb-3 mt-2">Welcome to the buy page!</h1>

<p class="fw-bold fs-4 mb-3 mt-2 website-text-nohover">Please select vehicle type to continue..</p>
<hr />

<div class="d-flex flex-row flex-wrap justify-content-center mt-3 mb-3">
    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/carImage.jpg" />
        </div>
        <a asp-page="/Buy/CarListings" class="mt-3 fw-bold website-background-lighter btn">Car Listings</a>
    </div>

    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/motoImage.jpg" />
        </div>
        <a asp-page="/Buy/MotorcycleListings" class="mt-3 fw-bold website-background-lighter btn">Motorcycle Listings</a>
    </div>

    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/truckImage.jpg" />
        </div>
        <a asp-page="/Buy/TruckListings" class="mt-3 fw-bold website-background-lighter btn">Truck Listings</a>
    </div>

    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/busImage.jpg" />
        </div>
        <a asp-page="/Buy/BusListings" class="mt-3 fw-bold website-background-lighter btn">Bus Listings</a>
    </div>

    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/boatImage.jpg" />
        </div>
        <a asp-page="/Buy/BoatListings" class="mt-3 fw-bold website-background-lighter btn">Boat Listings</a>
    </div>

    <div>
        <div class="border border-primary custom-rounded mx-5 p-2 mt-4 mb-4">
            <img class="custom-rounded buy-page-image" src="~/images/buypageImages/trailerImage.jpeg" />
        </div>
        <a asp-page="/Buy/TrailerListings" class="mt-3 fw-bold website-background-lighter btn">Trailer Listings</a>
    </div>
</div>

<div class="mt-5">
    <h1 class="website-text-nohover fw-bold">News</h1>
    <hr />
</div>

<div class="border-top border-dark text-light bg-dark mb-3 mt-3 custom-rounded mx-auto">
    @if (Model.News.Count > 0)
    {

        <div class="d-flex flex-row flex-wrap justify-content-around">
            @foreach (var singleNew in Model.News)
            {
                <div class="d-flex flex-column mx-3 single-new-box">
                    <a class="text-decoration-none" href="@singleNew.Url">
                        <img class="custom-rounded single-new-image mb-3" src="@singleNew.UrlToImage" />
                        <p class="text-light fw-bold">@singleNew.Title</p>
                    </a>
                </div>
            }
        </div>

    }
    else
    {
        <h3 class="px-3 pt-3 pb-3 text-light">Error loading the news...</h3>
    }
</div>

<div>
    <hr />
</div>